# Downloader Engine Backend Servis Adresi
DOWNLOADER_ENGINE_URL=http://localhost:4000
NEXT_PUBLIC_DOWNLOADER_ENGINE_URL=http://localhost:4000

# Resend E-posta Gönderim API Anahtarı
RESEND_API_KEY=re_123456789

# Google AdSense Yayıncı Kimliği (ca-pub-xxx)
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT_ID=ca-pub-1234567890123456

# Google Analytics 4 Ölçüm Kimliği (G-XXXXXXXXXX)
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-MGT75R0FVY
